<div class="row SponsorContainer">
<SponsorOne (sponsorChanged)="sponsorChanged($event)" *ngFor="let item of sponsorList" class="iteam" [sponsorthisevent]="sponsorOfThisEvent"   [iteam]="item"></SponsorOne>
</div>