<nb-card>
    <nb-card-body>
        <h2 class="title">Add/Remove user from event</h2>
        <br>
        <div class="row">

            <div class="col-md-3">
                <div class="input-group input-group-rounded">
                    <input type="text" (keydown)="Myfilter()" (keyup)="Myfilter()" [(ngModel)]="filter"
                        placeholder="find user" class="form-control" />
                </div>
            </div>
            <div class="col-md-9"></div>
        </div>
        <br>
        <br>
        <div class="row" *ngFor="let index of numbers | paginate: { itemsPerPage: 3, currentPage: p }">
            <div class="col-md-4" *ngFor="let user of usertoshow | slice:index*3:index*3+3">
                <Kh-user-card [user]="user" [isSelected]="this.event.venu?this.event.venu.indexOf(user._id)>-1?true:false:false" (updateuser)="updateuser($event)">
                </Kh-user-card>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <pagination-controls class="my-pagination" (pageChange)="p = $event" maxSize="5" directionLinks="true"
                    autoHide="false" responsive="true" previousLabel="previous"
                    nextLabel="next"></pagination-controls>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
                <div class=" col-md-3"></div>
                <div class=" col-md-6">
                    <button (click)="saveChange()" class="btn btn-block btn-hero-success"
                        [class.btn-pulse]="submitted">
                        Save!
                    </button>
                </div>
            </div>
    </nb-card-body>
</nb-card>