.pointer{
    cursor: pointer;
}
.my-pagination /deep/ .ngx-pagination  {
    
    font-size: 1.2rem;
    text-align: center;
  }
  .my-pagination /deep/ .ngx-pagination .current{
    background: #5dcfe3;
  }
  .my-pagination /deep/ .ngx-pagination li{
    border-radius: 25%;
  }
  .my-pagination /deep/ .ngx-pagination li a:hover{
    border-radius: 25%;
  }
  .my-pagination /deep/ .ngx-pagination li a{
    text-decoration: none;
    color: #5dcfe3;
    outline:0;
  } 
 
  .my-pagination /deep/ .ngx-pagination .pagination-next :hover   
  {
    border-radius: 0%;
  }
  .my-pagination /deep/ .ngx-pagination .pagination-previous :hover
  {
    border-radius: 0%;
  }