
<nb-card>
    <nb-card-body>
            <h2 class="title">Event List</h2>
            <br>

    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source"
         (edit)="onEdit($event)" (delete)="onDelete($event)" 
        >
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
{{parking|json}}