<a href="#!/events">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Event</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addEvent()">

        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="event.name" placeholder="Name">
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="event.description" placeholder="Description"></textarea>
        </div>

        <div class="form-group" ng-init="getUsers()">
          <label>Creator</label>
          <select class="form-control"  ng-model="event.creator">
            <option ng-repeat="user in users" value={{user._id}}>{{user.username}}</option>
          </select>  
        </div>   
        <div class="form-group" 
        <label>date</label>
          <input type="datetime-local" class="form-control" ng-model="event.date" placeholder="date">
        </div>

        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="event.imgEvent" placeholder="image">
        </div>

        <div class="form-group" ng-init="getSponsors()">
          <label>Sponsor</label>
          <select class="form-control"  ng-model="event.sponsor">
            <option ng-repeat="sponsor in sponsors" value={{sponsor._id}}>{{sponsor.name}}</option>
          </select>
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>