<a href="#!/users">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add User</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addUser()">
        <div class="form-group">
          <label>UserName</label>
          <input type="text" class="form-control" ng-model="user.username" placeholder="UserName">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label>fullname</label>
          <input type="text" class="form-control" ng-model="user.fullname" placeholder="Full Name">
        </div>
        <div class="form-group">
          <label>Gender</label>

          <input type="text" class="form-control" ng-model="event.LocationLat" placeholder="latitude">
        </div>
        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="event.image_url" placeholder="image">
        </div>
      <div class="form-group">
          <label></label>
          <select class="form-control">
            <option value={{user._id}}>{{user.name}}</option>
          </select>
         <input type="text" class="form-control" ng-model="event.Sponsor" placeholder="Sponsor">
        </div> 
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>