<a href="#!/users">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit User Info</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateUser()" ng-init="getUser()">
        <h4>{{user.fullname}}</h4>
        <div class="form-group">
        </div>
          <div class="form-group">
          <label>UserName</label>
          <input type="text" class="form-control" ng-model="user.username" placeholder="UserName">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="user.email" placeholder="Email">
        </div>
       
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>