<a href="#!/events">Go Back</a>
<div class="panel panel-default" ng-init="getEvent()">
  <div class="panel-heading">
    <h3 class="panel-title">{{event.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{event.imgEvent}}">
      </div>
      <div class="col-md-8">
        </p>{{event.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Genre: {{event.create_date}}</li>
          <li class="list-group-item">Author: {{event.creator}}</li>
          <li class="list-group-item">Publisher: {{event.locationLat}}</li>
          <li class="list-group-item">Pages: {{event.locationLong}}</li>
        </ul>
        <a target="_blank" href="{{event.buy_url}}" class="btn btn-primary">Going</a>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#!/events/edit/{{event._id}}">Edit</a> |  <a href="#!" ng-click="removeEvent(event._id)">Delete</a>
  </div>