<div class="panel panel-default" ng-init="getEvents()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Events</h3>
  </div>
  <div class="panel-body">
    <div align="right">
    <a href="#!events/add">Add Event</a>
    </div>
    <div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">
              name
            </th>
            <th scope="col">
              location
            </th>
            <th scope="col">
              date 
            </th>
            <th scope="col">
             operation
            </th>
          </tr>
        </thead>  
        <tbody ng-repeat="event in events">  
    	   <tr>
            <th scope="row">{{$index + 1}}</th>
    				<td>{{event.name}}</td>
    				<td>{{event.description}}</td>
    				<td>{{event.date}}</td>
            <td> 
              <a href="#!/events/details/{{event._id}}">
                <i class="fa fa-eye" style="color:#04e517"></i>
              </a>
              <a href="#!/events/edit/{{event._id}}">
                <i class="fa fa-pencil" style="color:#058aaa" alt="Edit"></i>
              </a>
              <a href="#!" ng-click="removeEvent(event._id)" style="color:#ff0000">
                <i class="fa fa-remove"></i>
              </a></td>
    			
    			<!--<div class="col-md-6">
    				<img class="thumbnail" src="{{event.image_url}}">
    			</div>-->
    	   </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>