<div class="panel panel-default" ng-init="getSponsors()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Sponsors</h3>
  </div>
  <div class="panel-body">
    <div align="right">
    <a href="#!sponsors/add">Add Sponsor</a>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">
              sponsorname
            </th>
            <th scope="col">
              fullname
            </th>
            <th scope="col">
              E-mail  
            </th>
            <th scope="col">
             details
            </th>
          </tr>
        </thead>  
        <tbody ng-repeat="sponsor in sponsors">  
    	   <tr>
            <th scope="row">{{$index + 1}}</th>
    				<td>{{sponsor.name}}</td>
            <td>
              <a href="#!/sponsors/details/{{sponsor._id}}">
                <i class="fa fa-eye" style="color:#04e517"></i>
              </a>
              <a href="#!/sponsors/edit/{{sponsor._id}}">
                <i class="fa fa-pencil" style="color:#058aaa"></i>
              </a>
              <a href="#!" ng-click="removeSponsor(sponsor._id)" style="color:#ff0000">
                <i class="fa fa-remove"></i>
              </a>
            </td>

    			
    			<!--<div class="col-md-6">
    				<img class="thumbnail" src="{{sponsor.image_url}}">
    			</div>-->
    	   </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>