<a href="#!/users">Go Back</a>
<div class="panel panel-default" ng-init="getUser()">
  <div class="panel-heading">
    <h3 class="panel-title">{{user.fullname}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{user.image_url}}">
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item">Name: {{user.fullname}}</li>
          <li class="list-group-item">email: {{user.email}}</li>
          <li class="list-group-item">Username: {{user.username}}</li>
        </ul>
        <a target="_blank" href="{{}}" class="btn btn-primary">send a message</a>
      </div>
    </div>
  </div>
</div>

<div class="pull-right">
  <a href="#!/users/edit/{{user._id}}">Edit</a> |  <a href="#!" ng-click="removeUser(user._id)">Delete</a>
  </div>