<div class="panel panel-default" ng-init="getUsers()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Users</h3>
  </div>
  <div class="panel-body">
    <div align="right">
    <a href="#!users/add">Add User</a>
    </div>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">N°</th>
            <th scope="col">
              username
            </th>
            <th scope="col">
              fullname
            </th>
            <th scope="col">
              E-mail  
            </th>
            <th scope="col">
             details
            </th>
          </tr>
        </thead>  
        <tbody ng-repeat="user in users">  
    	   <tr>
            <th scope="row">{{$index + 1}}</th>
    				<td>{{user.username}}</td>
    				<td>{{user.fullname}}</td>
    				<td>{{user.email}}</td>
            <td>
              <a href="#!/users/details/{{user._id}}">
                <i class="fa fa-eye" style="color:#04e517"></i>
              </a>
              <a href="#!/users/edit/{{user._id}}">
                <i class="fa fa-pencil" style="color:#058aaa"></i>
              </a>
              <a href="#!" ng-click="removeUser(user._id)" style="color:#ff0000">
                <i class="fa fa-remove"></i>
              </a>
            </td>

    			
    			<!--<div class="col-md-6">
    				<img class="thumbnail" src="{{user.image_url}}">
    			</div>-->
    	   </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>