:host {
  .title {
    margin-bottom: 2rem;
  }
}
img{
  vertical-align: middle;
  border-radius: 16px;
  width: 100%;
  height: 200px;
}
input {
  width: 100%;
  height: 100%;
}
nb-card {
  transform: translate3d(0, 0, 0);
}
.remarque{
  font-size: 1rem;
  font-weight: 400;
  color: firebrick;
  margin-left: 2%;
}
.switchdemoBasicUsage .inset {
  padding-left: 25px;
  padding-top: 25px; }

.nobd nb-card {
  transform: translate3d(0, 0, 0);
  border: 0px !important;
}
.nobd nb-card-footer{
  border: 0px !important;
}