<div [ngClass]="type?'nobd':''">
    <!-- img +  sponsor -->
    <nb-card>
        <nb-card-body>
            <h2 class="title">{{!type?'Add Event' :'UpdateEvent'}}</h2>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <img [src]="!event?'assets/images/select.jpg':event&&event.imgEvent?'data:image/png;base64,'+event.imgEvent:'assets/images/select.jpg'"
                        (click)="file.click()">
                    <input #file [hidden]="true" type="file" name="file" accept="image/*"
                        (change)="handleInputChange($event)">
                </div>
                <div class="col-sm-1"></div>
            </div>
            <br>
            <form (ngSubmit)="submit()" [formGroup]='eventForm' autocomplete="nope">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input formControlName="name" placeholder="Event Name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <select name="creator" placeholder="Creator" formControlName="creator" id="creator"
                            class="form-control" (change)="onOwnerChangeChange($event.target.value)">
                            <option value="" disabled selected>creator</option>
                            <option *ngFor="let user of users" [value]="user._id">{{user.username}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input nbInput formControlName="date" placeholder="Date Event" [nbDatepicker]="formpicker">
                            <nb-datepicker #formpicker></nb-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea rows="5" formControlName="description" nbInput fullWidth shape="round"
                            placeholder="description"></textarea>
                    </div>
                </div>
                <br>

                <SponsorAll [sponsorOfThisEvent]='event&&event.sponsor?event.sponsor:[]' (sponsorListChanged)=sponsorListChanged($event)></SponsorAll>
                <br>
                <div class="row">
                    <div class=" col-md-3"></div>
                    <div class=" col-md-6">
                        <button [disabled]="submitted" class="btn btn-block btn-hero-success"
                            [class.btn-pulse]="submitted">
                            {{type == 0? 'add Event':'Update Event'}}
                        </button>
                    </div>
                </div>
            </form>

        </nb-card-body>
    </nb-card>
</div>