@import '../../../styles/themes';
@import '~@nebular/bootstrap/styles/hero-buttons';

@include nb-install-component() {
   
    .darkhover /deep/ :hover{
        color: #181818 !important;
    }

    .card-attributes {
       
        
        position: relative;
    }

    .pointer{
        cursor: pointer;
    }


}
