
        <nb-card class="card-attributes">
                
                <nb-card-body >
                        <nb-user [picture]="user.imgUser?'data:image/png;base64,' +user.imgUser:'/assets/images/profile.jpg'" [name]="user.username" [title]="user.email" size="xlarge"></nb-user>
                </nb-card-body>
                <nb-card-footer>
                        <nb-actions  size="small" inverse = "false" fullWidth="true">
                                <nb-action  class="darkhover" (click)="addremoveclicked()"  [icon]="isSelected?'fa fa-user-slash':'fa fa-user-plus'"></nb-action>
                              </nb-actions>
                </nb-card-footer>
              </nb-card>

            
              <!--<nb-badge [text]="user.username" position="top right"  status="primary"></nb-badge>-->
